html {
  font-family: Andale Mono;
  background-color: black;
  color: white;
}

input#chat {
  background: #333;
  border: 2px solid black;
  border-radius: 10px;
  bottom: 10px;
  box-sizing: border-box;
  color: transparent;
  font-family: Andale Mono;
  font-size: 1.25em;
  left: 10px;
  padding: 5px 15px;
  position: fixed;
  right: 10px;
  text-align: left;
  text-shadow: 0 0 0 gray;
  transition: border 0.5s;
  width: calc(100% - 20px);
}
